@import "tailwindcss";
@plugin "tailwindcss-animate";

@theme {
  /** Colors **/
  --color-background: hsl(180 12% 88%);
  --color-accent: hsl(165 26% 69%);
  --color-text: hsl(228 8% 12%);
  --color-action: hsl(354 70% 50%);
  --color-actionlight: var(#f0959e);
  --color-warning: hsl(19 100% 52%);
  --color-input: hsl(165 26% 69%);
  --color-foreground: hsl(228 8% 12%);
  --color-card: hsl(12 0% 100%);
  --color-card-foreground: hsl(0 0% 3.9%);
  --color-popover: hsl(0 0% 100%);
  --color-popover-foreground: hsl(0 0% 3.9%);
  --color-primary: hsl(354 70% 50%);
  --color-primary-foreground: hsl(0 0% 98%);
  --color-secondary: hsl(213 94% 68%);
  --color-secondary-foreground: hsl(0 0% 98%);
  --color-muted: hsl(0 0% 96.1%);
  --color-muted-foreground: hsl(0 0% 45.1%);
  --color-accent-foreground: hsl(0 0% 9%);
  --color-destructive: hsl(19 100% 52%);
  --color-destructive-foreground: hsl(0 0% 98%);
  --color-border: hsl(0 0% 75%);
  --color-ring: hsl(0 0% 3.9%);
  --color-chart-1: hsl(12 76% 61%);
  --color-chart-2: hsl(173 58% 39%);
  --color-chart-3: hsl(197 37% 24%);
  --color-chart-4: hsl(43 74% 66%);
  --color-chart-5: hsl(27 87% 67%);

  /** Font Families **/
  --font-sans: "Inter", sans-serif;

  /** Border Radius **/
  --radius: 0.5rem;

  /** heghts **/
  --spacing-innerfull: calc(100dvh - 8rem);

  /** Animations **/
  --animate-typing: typing 2s steps(20) alternate, blink 0.9s infinite;
  --animate-caret-blink: caret-blink 1.2s ease-out infinite;

  @keyframes caret-blink {
    0%,
    70%,
    100% {
      opacity: 1;
    }
    20%,
    50% {
      opacity: 0;
    }
  }
  @keyframes typing {
    0% {
      width: 0%;
      visibility: hidden;
    }
    100% {
      width: 100%;
    }
  }
  @keyframes blink {
    50% {
      border-color: transparent;
    }
    100% {
      border-color: gray;
    }
  }
}

@utility rounded-lg {
  border-radius: var(--radius);
}
@utility rounded-md {
  border-radius: calc(var(--radius) - 2px);
}
@utility rounded-sm {
  border-radius: calc(var(--radius) - 4px);
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  h1 {
    @apply text-3xl;
  }
  h2 {
    @apply text-2xl;
  }
  h3 {
    @apply text-xl;
  }
  .container {
    @apply mx-auto max-w-[1280px] px-4;
  }
}

/** Styling of audio player **/
.rhap_main-controls-button,
.rhap_volume-button {
  @apply text-secondary !important;
}
.rhap_progress-bar {
  @apply bg-accent/50 !important;
}
.rhap_download-progress {
  @apply bg-accent !important;
}
.rhap_progress-filled {
  @apply bg-secondary !important;
}
.rhap_progress-indicator {
  @apply bg-secondary !important;
}

.rhap_volume-bar {
  @apply bg-accent/50 !important;
}
.rhap_volume-indicator {
  @apply bg-secondary !important;
}

@layer utilities {
  @supports not (height: 100dvh) {
    .h-dvh {
      height: 100vh;
    }
    .min-h-dvh {
      min-height: 100vh;
    }
    .max-h-dvh {
      max-height: 100vh;
    }
  }
  @supports not (height: 100lvh) {
    .h-lvh {
      height: 100vh;
    }
    .min-h-lvh {
      min-height: 100vh;
    }
    .max-h-lvh {
      max-height: 100vh;
    }
  }
  @supports not (height: 100svh) {
    .h-svh {
      height: 100vh;
    }
    .min-h-svh {
      min-height: 100vh;
    }
    .max-h-svh {
      max-height: 100vh;
    }
  }
}
